<link rel="stylesheet" href="~/css/MenuStyle.css" />


        <div class="sidebar-content">
            <div class="sidebar-header">
                <button class="toggle-btn" id="toggleBtn">
                    <i class="fas fa-bars"></i>
                </button>
                <div class="logo-container">
                    <img src="~/image/logo.png" alt="Logo" />
                </div>
            </div>

        <a asp-area="ProjectManagement" asp-controller="Dashboard" asp-action="Index" class="menu-item">
                <i class="fas fa-home"></i>
                <span>داشبورد</span>
                <span class="sidebar-tooltip">داشبورد</span>
            </a>

            <div class="menu-item has-submenu">
                <i class="fas fa-user"></i>
                <span>تعاریف</span>
                <i class="submenu-toggle fas fa-chevron-down"></i>
            </div>
            <div class="submenu">
                <a class="submenu-item" href="/ProjectManagement/Project/Index">
                    <i class="fas fa-box"></i>
                    <span>پروژه ها</span>
                    <span class="sidebar-tooltip">>پروژه ها</span>
                </a>
                <a class="submenu-item" href="/ProjectManagement/ProjectType/Index">
                    <i class="fas fa-box"></i>
                    <span>انواع پروژه</span>
                    <span class="sidebar-tooltip">انواع پروژه</span>
                </a>

                <a class="submenu-item" href="/ProjectManagement/Employers/Index">
                    <i class="fas fa-tags"></i>
                    <span>کارفرما</span>
                    <span class="sidebar-tooltip">کارفرما</span>
                </a>
            </div>
            <a href="/ProjectManagement/ProjectReport/Index" class="menu-item">
                <i class="fas fa-chart-bar"></i>
                <span>گزارشات</span>
                <span class="sidebar-tooltip">گزارشات</span>
            </a>

    <a asp-area="" asp-controller="Home" asp-action="Index" class="menu-item active">
        <i class="fas fa-right-from-bracket"></i>
        <span>خروج</span>
        <span class="sidebar-tooltip">خروج</span>
    </a>
        </div>


@section Scripts {
    <script src="~/js/MenuJs.js"></script>
}