@{
    ViewData["Title"] = "صفحه اصلی انبارداری ";
    Layout = "~/Areas/WarehouseManagement/Views/Shared/_MyLayout.cshtml";
}


<link href="~/vazirmatn/webfonts.css" rel="stylesheet" />
<link rel="stylesheet" href="~/css/WarhouseLayouStyle.css"/>
<link rel="stylesheet" href="~/css/MenuStyle.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />



<h1 style="direction:rtl">Test menu!!!!</h1>



@section Scripts {
    <script src="~/js/MenuJs.js"></script>
}