@{
    ViewData["Title"] = "صفحه اصلی انبارداری ";
    Layout = "~/Areas/WarehouseManagement/Views/Shared/_MyLayout.cshtml";
}

<link href="~/vazirmatn/webfonts.css" rel="stylesheet" />
<link rel="stylesheet" href="~/css/MenuStyle.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />

<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-12 text-center py-4">
            <h1 class="mb-0" style="direction: rtl; color: black;">
                <span class="mx-1">!</span>
                <span class="mx-1">!</span>
                <span class="mx-1">!</span>
                <span class="mx-1">!</span>
                Test menu
            </h1>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/MenuJs.js"></script>
}