@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center mt-5">
    <h1 class="display-4 mb-4">Welcome</h1>
    <p>
        Learn about
        <a href="https://learn.microsoft.com/aspnet/core" target="_blank" rel="noopener noreferrer">
            building Web apps with ASP.NET Core
        </a>
    </p>

    <div class="mt-4">
        <div class="mb-3">
            <a class="btn btn-primary px-4" asp-area="ProjectManagement" asp-controller="ProjectManagementHome" asp-action="Index">
                مدیریت پروژه
            </a>
        </div>
        <div>
            <a class="btn btn-success px-4" asp-area="WarehouseManagement" asp-controller="WarehouseManagementHome" asp-action="Index">
                انبار
            </a>
        </div>
    </div>
</div>
