@{
    ViewData["Title"] = "Home Page";
    Layout = "_Layout";
}


<div class="mt-4">

    <!-- ردیف اول: مدیریت پروژه + انبارداری -->
    <div class="subsystems-row">
        <div class="subsystem-card projects">
            <div class="card-icon">
                <img src="../icon/icons8-checklist-50.png" alt="Management Icon" />
            </div>
            <div class="card-content">
                <h2>مدیریت پروژه‌ها</h2>
                <p>پیگیری پیشرفت، مدیریت منابع، زمان‌بندی</p>
                <a class="access-btn px-4" asp-area="ProjectManagement" asp-controller="ProjectManagementHome" asp-action="Index">
                    <i class="fas fa-arrow-left"></i> ورود به سیستم
                </a>
            </div>
        </div>

        <div class="subsystem-card inventory">
            <div class="card-icon">
                <img src="../icon/icons8-warehouse-50.png" alt="User" />
            </div>
            <div class="card-content">
                <h2>سیستم انبارداری</h2>
                <p>مدیریت موجودی، ورود و خروج کالا، گزارشات انبار</p>
                <a class="access-btn px-4" asp-area="WarehouseManagement" asp-controller="WarehouseManagementHome" asp-action="Index">
                    <i class="fas fa-arrow-left"></i> ورود به سیستم
                </a>
            </div>
        </div>
    </div>

    <!-- ردیف دوم: حسابداری + تدارکات -->
    <div class="subsystems-row">
        <div class="subsystem-card accounting">
            <div class="card-icon">
                <img src="../icon/icons8-calculator-64 (1).png" alt="Calculator Icon" />
            </div>
            <div class="card-content">
                <h2>سیستم حسابداری</h2>
                <p>دفتر کل، حساب‌های تفضیلی، گزارشات مالی</p>
                <a asp-area="AccountManagement" asp-controller="HomeAccount" asp-action="Index" class="access-btn">
                    ورود به سیستم <i class="fas fa-arrow-left"></i>
                </a>

            </div>
        </div>

        <div class="subsystem-card procurement">
            <div class="card-icon">
                <img src="../icon/icons8-computer-80.png" alt="" />
            </div>
            <div class="card-content">
                <h2>سیستم تدارکات</h2>
                <p>خرید، سفارشات، مدیریت تامین کنندگان</p>
                <a class="access-btn px-4" asp-area="ProcurementManagement" asp-controller="ProcurementManagementHome" asp-action="Index">
                    <i class="fas fa-arrow-left"></i> ورود به سیستم
                </a>
            </div>
        </div>
    </div>

</div>

