<header class="system-header">
    <div class="header-content">
        <div class="user-menu">
            <span class="username">کاربر: مدیر سیستم</span>
            <i class="fas fa-user-circle user-icon"></i>
        </div>
        <h1>نرم افزار یکپارچه صدرا تجهیز مهرگان</h1>
        <img src="/image/logo.png" alt="لوگو" class="system-logo">
    </div>
</header>
