<header class="system-header">
    <div class="header-content">
        <div class="user-menu">
            <span class="username">کاربر: مدیر سیستم</span>
            <i class="fas fa-user-circle user-icon"></i>
        </div>
        <h1>نرم افزار حسابداری صدرا تجهیز مهرگان</h1>
        <div class="system-logo-placeholder" style="width:60px; height:60px;"></div>
    </div>
</header>
