
 <link rel="stylesheet" href="~/css/MenuStyle.css"/>
 
        <div class="sidebar-content">
            <div class="sidebar-header">
                <div class="logo-container">
                    <img src="~/image/logo.png" alt="Logo" />
                </div>
            </div>

            <a asp-area="WarehouseManagement" asp-controller="Dashboard" asp-action="Index" class="menu-item">
                <i class="fas fa-home"></i>
                <span>داشبورد</span>
                <span class="sidebar-tooltip">داشبورد</span>
            </a>

            <div class="menu-item has-submenu">
                <i class="fas fa-user"></i>
                <span>تعاریف</span>
                <i class="submenu-toggle fas fa-chevron-down"></i>
            </div>
            <div class="submenu">
                <a class="submenu-item" href="/WarehouseManagement/Warehouses/Index">
                    <i class="fas fa-box"></i>
                    <span>مدیریت انبار</span>
                    <span class="sidebar-tooltip">مدیریت انبار</span>
                </a>
                <a class="submenu-item" href="/WarehouseManagement/Categories/Index">
                    <i class="fas fa-tags"></i>
                    <span>مدیریت کالاها</span>
                    <span class="sidebar-tooltip">مدیریت کالاها</span>
                </a>
                <a class="submenu-item" href="/WarehouseManagement/Units/Index">
                    <i class="fas fa-balance-scale"></i>
                    <span>مدیریت واحدها</span>
                    <span class="sidebar-tooltip">مدیریت واحدها</span>
                    </a>
            </div>

            <div class="menu-item has-submenu">
                <i class="fas fa-exchange-alt"></i>
                <span>تراکنش‌ها</span>
                <i class="submenu-toggle fas fa-chevron-down"></i>
            </div>
            <div class="submenu">
                <a asp-area="WarehouseManagement" asp-controller="ReceiptOrIssue" asp-action="Index" class="submenu-item">
                    <i class="fas fa-file-import"></i>
            <span>رسید / حواله / انتقال</span>
                    <span class="sidebar-tooltip">رسید / حواله /انتقال</span>
                </a>
        <a asp-area="WarehouseManagement" asp-controller="InventoryOperation" asp-action="Load" class="submenu-item">
            <i class="fas fa-sliders-h"></i>
            <span>ایجاد کالا</span>
            <span class="sidebar-tooltip">ایجاد کالا</span>
        </a>
                <a asp-area="WarehouseManagement" asp-controller="Inventory" asp-action="LoadInventory" class="submenu-item">
                    <i class="fas fa-sliders-h"></i>
                    <span>اصلاح موجودی</span>
                    <span class="sidebar-tooltip">اصلاح موجودی</span>
                </a>
                <a asp-area="WarehouseManagement" asp-controller="Conversion" asp-action="Index" class="submenu-item">
                    <i class="fas fa-sync-alt"></i>
                    <span>تبدیل کالا</span>
                    <span class="sidebar-tooltip">تبدیل کالا</span>
                </a>
            </div>

            <div class="menu-item has-submenu">
                <i class="fas fa-chart-bar"></i>
                <span>گزارشات</span>
                <i class="submenu-toggle fas fa-chevron-down"></i>
            </div>
            <div class="submenu">
                <a asp-area="WarehouseManagement" asp-controller="InventoryReport" asp-action="Index" class="submenu-item">
                    <i class="fas fa-clipboard-list"></i>
                    <span>گزارش موجودی</span>
                    <span class="sidebar-tooltip">گزارش موجودی</span>
                </a>
                <a asp-area="WarehouseManagement" asp-controller="InventoryTransactionReport" asp-action="Index" class="submenu-item">
                    <i class="fas fa-chart-line"></i>
                    <span>گزارش تراکنش کالا</span>
                    <span class="sidebar-tooltip">گزارش تراکنش کالا</span>
                </a>
                <a asp-area="WarehouseManagement" asp-controller="WarehouseTransactionDetail" asp-action="Index" class="submenu-item">
                    <i class="fas fa-warehouse"></i>
                    <span>گزارش پروژه</span>
                    <span class="sidebar-tooltip">گزارش پروژه</span>
                </a>
            </div>

    <a asp-area="" asp-controller="Home" asp-action="Index" class="menu-item active">
        <i class="fas fa-right-from-bracket"></i>
        <span>خروج</span>
        <span class="sidebar-tooltip">خروج</span>
    </a>
        </div>


@section Scripts {
    <script src="~/js/MenuJs.js"></script>
}
