<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>@ViewData["Title"] - IMS</title>

    <!-- استایل‌های مورد نیاز -->
    <link href="~/vazirmatn/webfonts.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/IMS.styles.css" asp-append-version="true" />

    @await RenderSectionAsync("Styles", required: false)
</head>
<body>
    <div class="system-access-container d-flex flex-column min-vh-100">
        
        
        <partial name="_CustomHeader" />

        <div class="d-flex flex-grow-1">
            <!-- Sidebar menu -->
            <div class="sidebar" id="sidebar">
                <partial name="_Menu" />
            </div>

            <main id="mainContent" class="main-content flex-fill p-3">
                @RenderBody()
            </main>
        </div>

        <partial name="_CustomFooter" />
    </div>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>